@media screen and (max-width: 500px){
    .body{
        max-width: 500px;
    }

    .site{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 10px;
    padding: 10px;
    }

    .up{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    }

    nav {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    margin: 1rem;
    background-color: rgb(70, 64, 64);
    }

    nav.open{
        display: flex;
        flex-direction: column;
    }


    nav ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
    }

    nav a{
        display: block;
        padding: 2px;
        color: white;
        text-decoration: none;
}

    nav a:hover{
        border: white;
    }

    .flex{
        display: none;
    }

    .flex-show{
        display: block;
    }

    .tour{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        gap: 10px;
        padding: 10px;
    }

    #menu{
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    }

    #menu::after{
        content: "\2630";
        color: #006B3C;
        font-size: 2rem;
    }

    #menu.open::after{
        content: "❌";
    }

}