*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Cause", cursive;
    margin: 0;
    text-align: center;
}

header{
    background-color: #8368B3;
    color: white;
}

nav{
    margin: 0 auto;
    padding: 20px;
    background-color: #4A1A6A;
    max-width: 800px;
}

nav a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

nav ul{
    list-style: none;
}

nav a:hover{
    color: aqua;
}

nav a:active{
    border: 1px solid white;
}

@media (min-width: 640px) {
    nav ul{
        display: flex;
    }
    nav ul li{
        flex: 1 1 100%;
    }
}
.card{
    display: grid;
    grid-template-areas: "one one two";
    margin: 10px;
    justify-content: center;
    padding: 10px;
    max-height: 500px;
    text-align: center;
}

.card-head{
    background-color: #4A1A6A;
    padding: 10px;
    color: white;
}

.one{
    border-radius: 10px;
    border: 1px solid black;
}

.card-body{
    display: flex;
    flex-direction: column;
}

.about{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.about img{
    width: 100px;
    height: 100px;
}

.about figure{
    display: flex;
    flex-direction: column;
    float: left;
}

.two{
    text-align: center;
    padding: 20px;
    justify-content: center;
}

h3{
     border-bottom: 1px  solid #a8a3a3 ;
     
}

.flag{
    width: 100px;
    float: right;
}

figcaption{
    font-family: cursive;
    color: #312e2e;
}

footer{
    background-color: #4A1A6A;
    padding: 10px;
}


.body{
    color: #a8a3a3;
    color: #1a4a6e;
    columns: #362121;
    color: #687cb3;

}