@media screen and (min-width: 600px) {

    #menu{
        display: none;
    }

    .up{
        display: flex;
        justify-content: space-between;
    }

    nav{
        display: flex;
        position: static;
        background: none;
        width: auto;
        gap: 1rem;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
    }

    .album{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .temple img{
        width: 100%;
    }
}