*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin: 5px;
}

main{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgb(0 0 0 / 0.1);
    background-color: #ddd;
    width: 600px;
}

input,button{
    padding: 5px;
}

#btn{
   margin: 1rem;
   padding: 2px;
}

#font{
    font-weight: 1.5rem;
}

.first{
    display: flex;
    flex-direction: column;
}

.second{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 640px) {
    main{
        width: 320px;
    }
}

